.home-container {
  /* padding: 20px; */
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
  /* we have to do it to get 100vh with nav bar */
  height: calc(100vh - 51px);
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}
.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 60%;
}
.home-title {
  color: chocolate;
  font-family: "Ubuntu", sans-serif;
  margin: 10px;
  width: 60%;
  font-size: 60px;
}
.home-description {
  width: 60%;
}
.home-right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-right > img {
  margin: 20px;
  padding: 20px;
  width: 300px;
  height: 300px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.home-input {
  margin-top: 10px;
  width: 60%;
}
.home-input > input {
  width: 75%;
  height: 30px;
  border: 1px solid chocolate;
  border-radius: 7px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 4px;
}
.home-input > button {
  background-color: chocolate;
  color: white;
  width: 20%;
  height: 32px;
  border: 1px solid chocolate;
  border-radius: 7px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
