.foot-container {
  margin: 0;
  background-color: rgb(52, 52, 61);
  display: flex;
  position:fixed;
  bottom: 00;
  width:100%;
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
}

.foot-logo {
  margin: 15px;
  color: white;
}
.foot-items-container {
  display: flex;
  width: auto;
  justify-content: right;
}
.foot-items {
  color: white;
  margin: 10px 15px;
  display: flex;
  align-items: center;
  flex: 1;
}
.foot-link {
  margin: 0 50px;
  text-decoration: none;
  color: white;
}
.foot-link > span {
  margin-left: 2px;
}
@media only screen and (max-width: 720px) {
  .foot-container {
    width: 100%;
  }
  .foot-items {
    margin: 10px 0px;
  }
  .foot-link {
    margin: 0 20px;
  }
}
