.nav-container {
  margin: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logo {
  margin: 25px;
  color: white;
}
.nav-items-container {
  display: flex;
  width: 70%;
  justify-content: center;
}
.nav-items {
  margin: 15px 20px;
  display: flex;
  justify-content: right;

  flex: 1;
}
.nav-link {
  display: flex;
  align-items: center;
  margin: 0 50px;
  text-decoration: none;
  color: chocolate;
  font-weight: bold;
}
.nav-link > span {
  margin-left: 2px;
}

.signup-btn {
  background-color: chocolate;
  color: white;
  border-radius: 3px;
  border: 1px solid chocolate;
  cursor: pointer;
  margin-left: 1px;
}
@media only screen and (max-width: 720px) {
  .nav-container {
    width: 100%;
  }
  .nav-items {
    margin: 10px 0px;
  }
  .nav-link {
    margin: 0 20px;
  }
}
